<<<<<<< HEAD
<h1>Bienvenido al sistema de gesti칩n de estacionamientos</h1>
<p>Esta es la p치gina principal CRISTEL</p>
=======
<h1>Bienvenido al sistema de gestiaFSASFASFASF칩n de estacionamientos</h1>
<p>Esta es la p치gina principal</p>

<!-- prueba carlos -->
>>>>>>> fb85728f1f8631ddab122a1f019a26c4f030379f
